* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.menu {
    display: flex;    
}

.menu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.menu a:hover {
    color: #F05D22;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    margin-right: 20px;
    color: #2c2c2c;
    transition: all .42s ease;
}

.icons img:hover {
    transform: scale(1.1);
    color: #F05D22;
}

.banner{
    padding: 5% 10%;
}

.banner {
    margin-top: 100px;
    width: 100%;
    height: 800px;
    background-image: url(./assets/banner.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.banner-text p{
    text-align: right;
    margin-top: -340px;
    font-size: 70px;
    font-weight: bolder;
    color: #F05D22;
}

.product-page {
    display: flex;
    flex: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin:200px 50px 0  0;    
}

.productInfos {
    width: 20%;
   
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 8px 10px rgba(157, 157, 157, 20);
    transition: .4s;
    background: #ffffff;
}

.productInfos:hover {
    box-shadow: 0 3px 6px rgba(157, 157, 157, 16);
    transform: translate(0px,-8px);
}

.product {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.available {
    text-align: center;
    color: green;
    padding-top: 0 8px;
    font-weight: bold;
}

.unavailable {
    text-align: center;
    color: red;
    padding-top: 0 8px;
    font-weight: bold;
}

.productInfos h6 {
    font-size: 26px;
    text-align: center;
    color: #F05D22;
    margin: 0;
}

.productInfos div {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}
.productInfos div img {
    width: 35px;
    height: auto;
}

